<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>

    <link href="~/Template/inspinia-gh-pages/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Template/inspinia-gh-pages/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Template/inspinia-gh-pages/css/animate.css" rel="stylesheet">
    <link href="~/Template/inspinia-gh-pages/css/style.css" rel="stylesheet">
    <link href="~/Template/inspinia-gh-pages/css/plugins/toastr/toastr.min.css" rel="stylesheet">

</head>