
@{
    Layout = null;
}

<div class="chat-message left">
    <img class="message-avatar" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt=" ">
    <div class="message">
        <a class="message-author" href="#"> Michael Smith </a>
        <span class="message-content">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        </span>
    </div>
</div>



<div class="chat-message right">
    <img class="message-avatar" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt=" ">
    <div class="message">
        <a class="message-author" href="#"> Siz </a>
        <span class="message-content">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        </span>
    </div>
</div>