<div class="row">
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">

                <h5>Mesajlar</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@ViewBag.AllMessageCount</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Okunmayan Mesajlar</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@ViewBag.IsNotReadCount</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Çöp Kutusu</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@ViewBag.TrashCount</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Taslaklar</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@ViewBag.DraftCount</h1>

            </div>
        </div>
    </div>
</div>