@{
    ViewData["Title"] = "Index";

   
}

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/Template/inspinia-gh-pages/js/jquery-3.1.1.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<div class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script type="text/javascript">
                    $(document).ready(() => {
                        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7071/SignalRHub").build();
                        connection.start().then(() => {
                            connection.invoke("GetNickName", "@TempData["UserNameSurname"]");
                        }).catch((err) => { console.log(err); });

                        connection.on("clientJoined", data => {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 3500,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "info",
                                title: data + " Oturum Açtı",
                            });
                        })
                    });
                </script>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-8 offset-2">
        <div class="alert alert-primary">
            Bağlantının Durumu <strong id="connectionstate"></strong>
        </div>
    </div>
</div>

