
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>CodePen - 403 Forbidden</title>
    <link rel="stylesheet" href="~/Template/LokcedTemplate/dist/style.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="lock"></div>
    <div class="message">
        <h1>Kilitlenmiş Hesap</h1>
        <p>5 Defa hatalı giriş sebebiyle hesabınız 5 dakika kilitlendi lütfen daha sonra tekrar deneyin</p>
        <br />
        <p><a href="/Login/Index">Giriş Ekranına Dön</a></p>
    </div>
    <!-- partial -->

</body>
</html>
