<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">@ViewBag.UserNameSurname</span>
                        <span class="text-muted text-xs block">@ViewBag.UserUserName</span>
                    </a>
                </div>
                <div class="logo-element">
                    ST
                </div>
            <li>
                <a href="/Dashboard/Index"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            <li>
                <a href="/Mailbox/Index"><i class="fa fa-send"></i> <span class="nav-label">Mail</span></a>
            </li>
            <li>
                <a href="/Profile/Index"><i class="fa fa-user"></i> <span class="nav-label">Profilim</span></a>
            </li>
        </ul>

    </div>
</nav>