<div class="col-lg-3">
    <div class="ibox ">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <a class="btn btn-block btn-primary compose-mail" href="mail_compose.html">Mesaj Gönder</a>
                <div class="space-25"></div>
                <h5>Klasörler</h5>
                <ul class="folder-list m-b-md" style="padding: 0">
                    <li><a href="mailbox.html"> <i class="fa fa-inbox "></i> Mesajlarım <span class="label label-warning float-right">16</span> </a></li>
                    <li><a href="mailbox.html"> <i class="fa fa-envelope-o"></i> Gönderilenler</a></li>
                    <li><a href="mailbox.html"> <i class="fa fa-certificate"></i> Önemli Mesajlar</a></li>
                    <li><a href="mailbox.html"> <i class="fa fa-file-text-o"></i> Taslaklar <span class="label label-danger float-right">2</span></a></li>
                    <li><a href="mailbox.html"> <i class="fa fa-trash-o"></i> Çöp Kutusu</a></li>
                </ul>
                <h5>Mesaj Kategorileri</h5>
                <ul class="category-list" style="padding: 0">
                    <li><a href="#"> <i class="fa fa-circle text-navy"></i>Aile</a></li>
                    <li><a href="#"> <i class="fa fa-circle text-danger"></i>İş</a></li>
                    <li><a href="#"> <i class="fa fa-circle text-primary"></i>Okul</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>